<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Override SEQ URL for local development -->
  <variable name="seqUrl" value="http://localhost:5341" />
  <variable name="seqApiKey" value="" />
  
  <targets async="true">
    <target xsi:type="Console" name="console" />
    <target xsi:type="Seq" name="seq" serverUrl="${var:seqUrl}" apiKey="${var:seqApiKey}" />
  </targets>

  <rules>
    <!-- More verbose logging in dev -->
    <logger name="*" minlevel="Trace" writeTo="console,seq" />
  </rules>
</nlog>
